{% load static %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Thông tin liên hệ -->
      <div class="col-md-6">
        <h3>Thông tin liên hệ</h3>
        <ul class="contact-info">
          <li><i class="fa fa-user"></i> A42064 Nguyễn Văn Tuấn</li>
          <li><i class="fa fa-user"></i> A***** Ngô Quang Hạnh</li>
          <li><i class="fa fa-envelope"></i> Email: tuannguyenvan.de@gmail.com</li>
          <li><i class="fa fa-phone"></i> Số điện thoại: +84 985 296 994</li>
        </ul>
      </div>

      <!-- Thêm phần mạng xã hội -->
      <div class="col-md-6 social-media">
        <h3>Kết nối với chúng tôi</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    
  </div>
</footer>