{% load static %}
<header class="site-header">
  <div class="nav-logo-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand navbar-logo" href="{% url 'index' %}"><img src="{% static 'heartcare/images/ThangLongHospitalLogo.jpg' %}"
                  alt=""></a> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Trang Chủ</a></li>
                <li><a href="{% url 'doctors' %}">Bác Sĩ</a></li>
                <li><a href="{% url 'appointment' %}">Đặt Lịch Khám</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>